@model ProductUpdateModel

@{
    Layout = "~/Views/Shared/_Master.Desktop.Project.cshtml";
}
@section HeaderContent
{
     @{Html.RenderPartial("ContentHeader");}
}

<div id="cs-admin">
    <div id="resource-center">
        @if (Model.RenewalLink.HasValue() || Model.NeedUpgrade)
        {
        <div class="renewal-time">
            @if (GeminiContext.User.IsGlobalAdmin)
            {
                if(Model.RenewalLink.HasValue())
                {
                    <span>Please </span> <a href="@Html.Raw(Model.RenewalLink)">renew</a> <span> your product support and maintenance as it has expired</span>
                }
            }
            else 
            {
                if(Model.RenewalLink.HasValue())
                {
                    <span>Product support and maintenance has expired</span>
                }
            }
            @if (Model.NeedUpgrade)
            {
                <div class="pad-top-5">Please upgrade to the latest release (@Model.Version)</div>
            }
        </div>
        }
        <div id="external-context">
            
        </div>
    </div>
</div>

<div>
    @Model.Message
</div>

@section DocumentReady
{
    $('#external-context').spin(gemini_ui.spinnerOptions);
    $.ajax({
                type: "GET",
                url: 'http://update.countersoft.com',
                data: { data: '@Model.Data' },
                dataType: "jsonp",
                success: function (data) {
                    $('#external-context').html(data.Html);
                    $("#help-link", '#cs-admin').colorbox({ href: csVars.Url + "tour", transition: "none", initialWidth: "870px", initialHeight: "538px", width: "870px", height: "538px", close: "close", overlayClose: true, escKey: true, opacity: '0.8' });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    
                }
            });
}

