<div style="padding-top:8px;" id="footer-messaging">&copy; 2003-@DateTime.Now.Year <a href="http://www.geminiplatform.com?footer" target="_blank">Countersoft Gemini</a> <span class="version">v@(GeminiVersion.Version)</span> · PATENTS PENDING · <a href="@GeminiApp.GeminiLicense.FooterMessageHyperlink">@GeminiApp.GeminiLicense.FooterMessage</a></div>
