<div style="padding-top:8px;" id="footer-messaging">&copy; 2003-@DateTime.Now.Year <a href="http://www.countersoft.com?footer" target="_blank">Countersoft Gemini</a> <span class="version">v@(GeminiVersion.Version)</span> @if (DeviceContext.IsDesktop){ <text>· <a href="@GeminiApp.GeminiLicense.FooterMessageHyperlink">@GeminiApp.GeminiLicense.FooterMessage</a></text>} </div>
