@model BaseModel



<div id="footer-messaging">

    <a href="http://www.countersoft.com?footer" target="_blank">&copy; 2003-@DateTime.Now.Year Countersoft Gemini <span class="version">(@(GeminiVersion.Version))</span></a>

    @if (DeviceContext.IsDesktop){ <text><div class="registered">@Html.Raw(GeminiApp.GeminiLicense.FooterMessage)</div></text>} 
 </div>
