@model InstantItemFilterModel

<form id='filter-form' method="post" class="left">
    @{Html.RenderPartial( "~/views/shared/editortemplates/InstantFilterOptions.cshtml", Model );}

    @{Html.RenderPartial( Model.FilterProjects.Editor, Model.FilterProjects );}
    @*{Html.RenderPartial( "~/views/shared/editortemplates/InstantFilterListItem.cshtml", Model.StandardFilter );}
    *@@{Html.RenderPartial( "InstantFilterProject", Model );}
    <span id="instant-filter-fields" class="left">
    </span>
    <span class="left filter">
        <i class="fad fa-filter"></i>
        <input type="text" id="instant-filter-new-field" name="instant-filter-new-field" class="input-size6"
               placeholder="@GetResource(ResourceKeys.Filter)" />

    </span>
    <input type="hidden" name="Sort" id="Sort" value="@Model.Sort" />
    <input type="hidden" name="DisplayMode" id="DisplayMode" value="@Model.DisplayMode" />
</form>
<div class="hide" id="instant-filter-tooltip">

</div>
<div class="clearfix margin-bottom-10">
</div>
