@model UserSettings

@if (GeminiContext.IsAuthenticated && Model.Actions.Count > 0)
{
    <div id="notification-handle" class="auto-popup-keep">
        <div class="line line1"></div>
        <div class="line line2"></div>
    </div>
    <div id="notification-zone" class="auto-popup" data-hide-func="gemini_master.showHideNotificationCenter();">
        <ul id="notification-items">
            @foreach (var item in Model.Actions.Take(10))
            {
                <li><a href="~/@item.Url">@item.Label</a></li>
            }
        </ul>
    </div>
}
