@model BaseModel

<div id="zone-side-bar">
    
    <div id="action-overlay">
        @if (Model.DisplayPageActions)
        {
            if (IsAuthenticated && Model.CanPinPage
                //B.E. - Disable workspace management - BEGIN
                && !Model.NoPortalWorkspaceMgmt
                //B.E. - Disable workspace management - BEGIN
                )
            {
                if (Model.CardAlreadyPinned)
                {
                    @:<div id="pin-page" data-card-id="@Model.CurrentPageCard.Id" title="@GetResource(ResourceKeys.CreateWorkspace)"></div>
                }
                else
                {
                    @:<div id="pin-page" data-card-id="0" title="@GetResource(ResourceKeys.CreateWorkspace)"></div>
                }
            }
        }
   </div>

    <div id="card-holder-container">
        <div id="card-holder">
            @{ Html.RenderPartial("AppNavCards"); }
        </div>
    </div>
    
    <div id="card-scroller">
        <span id="card-scroller-down" class="fonticon-arrow-down"></span>
        <span id="card-scroller-up" class="fonticon-arrow-up"></span>
    </div>

</div>
