<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="resolved" data-type="sla" data-next-step="end" data-pull="1">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">SERVICE LEVEL AGREEMENT</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-three"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-four"><div class="wizard-step-selected"></div></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Stop the Clock</div>
            <div class="wizard-step-text">You decide if anything stops the clock other than time. Click the Resolution column in the grid for your SLA item. Change the value to "Complete".</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>