<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="commentpause" data-type="sla" data-next-step="3">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">SERVICE LEVEL AGREEMENT</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-three"></div>
                <div class="wizard-step-four"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Pause the Clock</div>
            <div class="wizard-step-text">You decide what pauses the clock. Right click the SLA item you just created. Add a comment with the word "pause".</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>