<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="issuecreated" data-type="sla" data-next-step="2">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">SERVICE LEVEL AGREEMENT</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-two"></div>
                <div class="wizard-step-three"></div>
                <div class="wizard-step-four"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Start the Clock</div>
            <div class="wizard-step-text">Select the SLA workspace (left sidebar). Click the green "Add" button (top right) to create a new ticket. Once created, the clock starts counting down.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>