<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">ISSUE TRACKING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"></div>
                <div class="wizard-step-two"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-three"></div>
                <div class="wizard-step-four"></div>
                <div class="wizard-step-five"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Step Two</div>
            <div class="wizard-step-text">Navigate to the Planner page where you navigate to the Planner page where you navigate to the Planner page where you will find on the top left of the screen.</div>
        </div>

    </div>
</div><!-- end action container -->