@model ViewIssueModel
<div class="cursor-pointer" id="item-collapse" data-text-hide="[@GetResource(ResourceKeys.Hide)]" data-text-show="[@GetResource(ResourceKeys.Show)]">[@GetResource(ResourceKeys.Hide)]</div>
