@model ViewIssueModel

<div id="filter-navigator">
    @if(Model.PreviousIssue != null)
    {
        <a href="~/workspace/@Model.WorkspaceId/item/@Model.PreviousIssue.Id" class="previous">
           <span class="fonticon-arrow-left"></span>
        </a>
    }
    else
    {
        <a href="#" class="previous">
            <span class="fonticon-arrow-left disabled"></span>
        </a>
    }

    <a class="position" href="~/workspace/@Model.WorkspaceId/items?session">@Model.CurrentIssueLocation / @Model.TotalIssues</a>

    @if(Model.NextIssue != null)
    {
        <a href="~/workspace/@Model.WorkspaceId/item/@Model.NextIssue.Id" class="next">
             <span class="fonticon-arrow-right"></span>
        </a>
    }
    else
    {
        <a href="#" class="next">
            <span class="fonticon-arrow-right disabled"></span>
        </a>
    }
</div>
