@model ViewIssueModel  
                    
<div id="attributes-wrapper">
    <ul id='attributes'>
        @Html.Raw(Model.Attributes)
        <li class="attribute project"><ul><li class="attribute-header" data-attribute-id="ProjectName"></li></ul></li>
    </ul>
</div>
