@model WorkspaceNotificationsModel

<div id="workspace-notifications-zone" class="workspace-notifications-zone-last-item">
    <div class="arrow-container"><div class="arrow"></div></div>
    <div class="notification-container">
        @if (Model.RecentItems.Count == 1)
        {
            <ul id="notification-items">
                <li><a href="~/@Model.RecentItems[0].Url">@Model.RecentItems[0].Label</a></li>
            </ul>
        }
        else
        {
            Html.RenderPartial("~/Views/Workspace/Notifications/_Nothing.cshtml");
        }
    </div>
</div>