<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="changetype" data-type="itil" data-next-step="end" data-pull="1">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">ITIL / ITSM</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-three"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-four"><div class="wizard-step-selected"></div></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Change the work item type</div>
            <div class="wizard-step-text">Select the ITIL workspace to reset the search filter. Click the hyperlink for item ITIL-193. Now click the "Type" field (top left) and change it to "Problem". Notice the new screen layout.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>