@model WorkspaceReportsModel


<div class="footer">
    <div class="csv"><a href="~/workspace/@Model.CurrentPageCard.UrlId/Items/prepareexport?option=csv">CSV</a></div>
    <div class="excel"><a href="~/workspace/@Model.CurrentPageCard.UrlId/Items/prepareexport?option=xlsx">EXCEL</a>&nbsp;<a href="~/workspace/@Model.CurrentPageCard.UrlId/Items/prepareexport?option=xls">(XLS)</a></div>
    <div class="html"><a href="~/workspace/@Model.CurrentPageCard.UrlId/Items/prepareexport?option=html">HTML</a></div>
</div>
