@model WorkspaceReportsModel

<div id="workspace-reports-zone">
        
    @if (GeminiContext.User.IsGlobalAdmin)
{
    <div id="reportFile" align="right" style="font-size: small" data-upload-text="@GetResource(ResourceKeys.Upload)"></div>
}
    <div class="content">
        @foreach (var report in Model.Reports)
        {
            <div class="report">
                <a href="~/workspace/@Model.CurrentPageCard.UrlId/Items/prepareexportxlsx?template=@(report.Template)">@(report.Name)</a>
            </div>
        }
    </div>

</div>