<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="filtered" data-type="issues" data-next-step="4">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">ISSUE TRACKING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-three"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-four"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Filtering</div>
            <div class="wizard-step-text">Select the ALL workspace. Notice it has work items from different projects. Click in the "Search" box (top middle) and filter for Status "In Progress".</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>