<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="people" data-type="issues" data-next-step="end">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">ISSUE TRACKING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-three"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-four"><div class="wizard-step-selected"></div></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Use the Sidebar</div>
            <div class="wizard-step-text">Click on the People tab for this workspace (right sidebar). Notice it shows you who is doing what and when. Click on a name to filter by co-worker.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>