<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="itemsequenced" data-type="issues" data-next-step="3">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">ISSUE TRACKING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-three"></div>
                <div class="wizard-step-four"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Manual Work Prioritization</div>
            <div class="wizard-step-text">Select the SEQ workspace. Notice the Sequence Zone at the top of the grid. Drag-drop any item into the Zone using its handle. The Zone lets you prioritize work for everyone.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>