<div data-tab="Queue" class="selected">Queues</div>
<div data-tab="SmtpServer" class="normal">Smtp Servers</div>
<div data-tab="Mailbox" class="normal">Mailboxes</div>
<div data-tab="MatchExpression" class="normal">Match Expressions</div>
<div data-tab="ReplyAddresses" class="normal">Reply From</div>
<div data-tab="CannedResponse" class="normal">Canned Responses</div>
