<div data-tab="UserOptions" class="selected">Options</div>
<div data-tab="Users" class="normal">Users</div>
<div data-tab="ProjectGroups" class="normal">Groups</div>
<div data-tab="Organizations" class="normal">Organizations</div>
<div data-tab="Permissions" class="normal">Permissions</div>
<div data-tab="Reports" class="normal">Reports</div>

