<div data-tab="Rules" class="selected">Rules</div>
<div data-tab="SLA" class="normal">SLA</div>
<div data-tab="Calendar" class="normal">Working Days Calendar</div>
<div data-tab="Translation" class="normal">Translation</div>


