<div data-tab="Options" class="selected">Options</div>
<div data-tab="Email" class="normal">Email & Alerts</div>
<div data-tab="AlertTemplates" class="normal">Alert Templates</div>
<div data-tab="AppNav" class="normal">Workspaces</div>
<div data-tab="ActiveDirectory" class="normal">Active Directory</div>
<div data-tab="Authentications" class="normal">Authentications</div>
<div data-tab="Languages" class="normal">Languages</div>
<div data-tab="Translations" class="normal">Translations</div>
<div data-tab="TemplatedContent" class="normal">Templated Content</div>
@if (!GeminiContext.Config.IsHosted)
{
    <div data-tab="Licensing" class="normal">Licensing</div>
}
<div data-tab="SystemLog" class="normal">System Log</div>

