<div data-tab="Process" class="selected">Process</div>
<div data-tab="CustomFields" class="normal">Custom Fields</div>
<div data-tab="Status" class="normal">Status</div>
<div data-tab="Priority" class="normal">Priority</div>
<div data-tab="Severity" class="normal">Severity</div>
<div data-tab="Resolution" class="normal">Resolution</div>
<div data-tab="Links" class="normal">Links</div>
<div data-tab="Time" class="normal">Time</div>
<div data-tab="Taxonomy" class="normal">Taxonomy</div>
<div data-tab="Translation" class="normal">Translation</div>
