@model BaseTestInfo
<div class='cs-icon'><a class='button fonticon-plus' href='@NavigationHelper.GetTestingPageUrl(GeminiContext.Project.Entity.Id, GeminiContext.Project.Entity.Code, Model.PlanId, Model.CaseId, Model.RunId, GeminiContext.Url)/plan/add'></a></div>