@model TestPlanDto
<div class='cs-icon'><a class='button fonticon-delete' href='@NavigationHelper.GetTestingPageUrl(@Model.Project.Id, Model.Project.Code, @Model.Entity.Id, null, null, GeminiContext.Url )/delete'></a></div>