@model TestRunDto
<div class='cs-icon'><a class='button fonticon-delete' href='@NavigationHelper.GetTestingPageUrl(GeminiContext.Project.Entity.Id, GeminiContext.Project.Entity.Code, null, null, @Model.Entity.Id, GeminiContext.Url)/delete'></a></div>