@model TestRunDto
<div class='cs-icon'><a class='button fonticon-delete' href='@NavigationHelper.GetTestingPageUrl(@Model.Project.Id, Model.Project.Code, null, null, @Model.Entity.Id, GeminiContext.Url )/delete'></a></div>