@model TestCaseDto
<div class='cs-icon'><a class='button fonticon-delete' href='@NavigationHelper.GetTestingPageUrl(@Model.Project.Id, Model.Project.Code, null, @Model.Entity.Id, null, GeminiContext.Url )/delete'></a></div>