@model TestAttachment
<div class='cs-icon'><a class='button fonticon-delete' href='@NavigationHelper.GetTestingPageUrl(GeminiContext.Project.Entity.Id, GeminiContext.Project.Entity.Code, Model.TestPlanId, Model.TestCaseId, Model.TestRunId, GeminiContext.Url)/file/@Model.Id/delete'></a></div>