@model TestPlanDto
<div class='cs-icon'><a class='button fonticon-edit' href='@NavigationHelper.GetTestingPageUrl(@Model.Project.Id, Model.Project.Code, null, @Model.Entity.Id, null, GeminiContext.Url )/edit'></a></div>