@model TestRunDto
<a href='@NavigationHelper.GetTestingPageUrl(@Model.Project.Id, Model.Project.Code, null, null, @Model.Entity.Id, GeminiContext.Url)'>@GetResource(ResourceKeys.Run)-@Model.Entity.Id</a>