@model HistoryInfo
@*<div id="cs-sections" class='clearfix'>*@
    <div id="run-history-export" class="right cursor-pointer margin-bottom-15" style="margin-right:20px;"><a href="~/apps/sentry/runhistory/report/@Model.Plan.Id">Excel</a></div>
    @foreach (var run in Model.Runs)
    {
        @Html.Partial("~/views/testing/_RunDetail.cshtml", run)
    }
<script type="text/javascript">
    gemini_ui.expanders('#D074E9B2-4F1D-46D6-B594-192A562AB38A-AC93C4F9-B512-4A3D-8B37-BC3D5F83429D');
</script>    
@*</div>*@