@model string

<div id="workspace-signup-zone">

    <div class="content">

        <div class="title">See what our customers have to<br/>say to you about Gemini...</div>

        <div class="quote">...best in class...</div>
        <div class="quote">...versatile product...</div>
        <div class="quote">...easy to implement and use...</div>
        <div class="quote">...why haven't you already gotten it..?</div>

        <div class="more">On average Gemini customers report 50% uplift in productivity. Join them!</div>

        <a href="https://www.countersoft.com/pricing"><input id="sign-up-cta-button" type="button" class="button-primary" value="Yes, I want to join them now" /></a>
        
        <div class="margin-top-30">
            <div class="contact-info"><a href="mailto:sales@countersoft.com">sales@countersoft.com</a></div>
        </div>
</div>

</div>

<script type="text/javascript">
    
</script>