@model ProgressModel

<div class="metric-large">
    <div class="label">
        @(string.IsNullOrWhiteSpace(Model.Title) ? GetResource( ResourceKeys.Progress ) : Model.Title)
    </div>
    <div class="data" style="color:#58b051;">@(Model.Progress)%</div>
</div>
