@model TimesModel

<div id="release-time-estimated" style="display:inline-block;"><span>Time Estimated  </span>@Model.Estimated</div>
<div id="release-time-logged" style="display:inline-block;"><span>Time Logged  </span>@Model.Logged</div>
<div id="release-time-remaining" style="display:inline-block;"><span>Time Remaining  </span>@Model.Remaining</div>


