<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="reply" data-type="ticketing" data-next-step="3" data-pull="1">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">HELP DESK &amp; TICKETING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-selected"></div></div>
                <div class="wizard-step-three"></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Reply to the Customer</div>
            <div class="wizard-step-text">Select the HELP workspace to reset the search filter. Click the hyperlink for ticket just created. Open the Email Reply tab and send a reply. All ongoing communcation is tracked as comments.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>