<div id="wizard-action-container" class="hide">
    <div id="wizard-action-box" data-action="closed" data-type="ticketing" data-next-step="end" data-pull="1">
        <div class="wizard-action-header">
            <div class="wizard-action-header-text">HELP DESK &amp; TICKETING</div>
            <div class="wizard-step-bullets">
                <div class="wizard-step-one"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-two"><div class="wizard-step-done"></div></div>
                <div class="wizard-step-three"><div class="wizard-step-selected"></div></div>
            </div>
        </div>

        <div class="wizard-action-content">
            <div class="wizard-step-header">Close the Ticket</div>
            <div class="wizard-step-text">Click on the "Status" field (top left) and change the value to "Closed". This resolves the ticket.</div>
        </div>

    </div>
</div><!-- end action container -->
<script type="text/javascript">
    gemini_wizard.initStep(true);
</script>