@model Countersoft.Gemini.Models.Admin.SystemActiveDirectoryModel

<p id="tab-help-message"><strong>&#187;</strong>&nbsp;Enable and configure <strong>Active Directory</strong> synchronization.</p>

<div id="cs-adhoc-page">
    <form id="system-ad-form" action="" method="post" autocomplete="off">
        <table class="data-entry-box">
            <tr>
                <td>&nbsp;</td>
                <td><input type="checkbox" class="fancy" id="SyncWithActiveDirectory" name="SyncWithActiveDirectory" @if(Model.SyncWithActiveDirectory){ <text>checked="checked"</text> } /> <label for="SyncWithActiveDirectory">Sync with Active Directory</label></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="checkbox" class="fancy" id="AddNewUsers" name="AddNewUsers" @if(Model.AddNewUsers){ <text>checked="checked"</text> } /> <label for="AddNewUsers">Add new users to Gemini found in Active Directory</label></td>
            </tr>
            <tr><td colspan="2"><div class="divider"></div></td></tr>  

            <tr>
                <td>AD Connection String</td>
                <td><input type="text" id="ConnectionString" name="ConnectionString" class="input-size9" value="@Model.ConnectionString"/></td>
            </tr>
            <tr>
                <td>AD Username</td>
                <td><input type="text" id="Username" name="Username" class="input-size9" value="@Model.Username"/></td>
            </tr>
            <tr>
                <td>AD Password</td>
                <td><input type="password" id="Password" name="Password" class="input-size9" value="@Model.Password"/></td>
            </tr>
            <tr><td colspan="2"><div class="divider"></div></td></tr>  

            <tr>
                <td colspan="2" align="right">
                    <input id="system-ad-save" type="button" value='@GetResource(ResourceKeys.Save)' class='button-primary' />
                </td>
            </tr>
              
        </table>
    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {

        $("#system-ad-form").validate();
        gemini_ui.fancyInputs('#system-ad-form .fancy');
        $("#system-ad-save").click(function (e) {
            gemini_commons.stopClick(e);

            if (!$("#system-ad-form").valid()) { return; } 

            var formData = $("#system-ad-form").serialize();
            gemini_ui.startBusy('.data-entry-box #system-ad-save');
            gemini_ajax.postCall("configure/System/ActiveDirectory", "savedata",
            function () {
                gemini_popup.toast("Saved");
                gemini_ui.stopBusy('.data-entry-box #system-ad-save');
            }, function () { gemini_ui.stopBusy('.data-entry-box #system-ad-save'); }, formData, null, true);
        });
    });
</script>