<html>
    <head>
        <title>Looking for something?</title>
    </head>
    <body>
        <div style="margin: 0 auto;text-align: center; padding: 75px 0 0 0; color: #555252; font-family: Arial; ">
            <h2 style="font-size: 26px;">Looking for something?</h2>
            <img src="~/assets/images/design/base/404.png"/>
            <p style="font-size: 20px; color: black;"><em>...maybe you typed in the wrong url :)</em></p>
        </div>
    </body>    
</html>

