<html>
    <head>
        <title>Go Away!</title>
    </head>
    <body>
        <div style="margin: 0 auto;text-align: center; padding: 75px 0 0 0; color: #555252; font-family: Arial; ">
            <h2 style="font-size: 26px;">You are not allowed to do that!</h2>
            <img src="~/assets/images/design/base/403.png"/>
            <p style="font-size: 20px; color: black;"><em>...sorry but access has been denied :|</em></p>
        </div>
    </body>    
</html>

