<div id="tour-box">
    <table class="width-100">
        <tr>
            <td valign="top" align="left" style="width: 290px;" rowspan="2" class="tour-menu">
                <h4 class="heading">Navigating</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/customnav/CustomNav.html">Custom Navigation</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/appnav/appnav.html">Pinning Important Things</h4>
                <h4 class="heading">Creating</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/item-create/create.html">Rapid Planning</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/planner-create/planning-board.html">Cards</h4>
                <h4 class="heading">Amending</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/sequencing/Sequencing.html">Sequencing Tasks</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/editing/editingitems.html">Editing Tasks</h4>
                <h4 class="heading">Finding</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/search/findsearch.html">Search</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/filtering/filterfind.html">Filter & Find</h4>
                <h4 class="heading">Collaborating</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/sharing-cards/share.html">Sharing AppNav&trade; Cards</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/badges/badge.html">Badge Alerts</h4>
                <h4 class="heading">Customizing</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/column-picker/listcolumn.html">List Columns</h4>
                <h4 class="topic" data-url="@AssetsPath/help/tour/planner/laneslimits.html">Lanes & Limits</h4>
            </td>

            <td valign="top" align="left" style="overflow:hidden;" >
                <iframe id="iframe" src="@AssetsPath/help/tour/customnav/CustomNav.html" width="570px" height="525px" border="0" frameborder="0"></iframe>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript">

    gemini_help.initTour();

</script>