@model RoadmapModel

<style>
.verticalaccordion>ul 
{
    margin: 0;
    padding: 0;
    list-style:none;
}
.verticalaccordion>ul>li 
{
    display:block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style:none;
    height:52px; 
    background-color:#f0f0f0;
}
.verticalaccordion>ul>li>tr.title 
{
    display:block;
    margin: 0;
    padding:0px 0px;
    height:32px;
    border-top:#f0f0f0 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration:none;
    text-transform:uppercase;
    color: #000;
}
.verticalaccordion>ul>li>div 
{
    margin:0;
    overflow: auto;
    padding:5px;
    height:20px;
}
.verticalaccordion li.selected 
{
    height: 220px;
}
.verticalaccordion li.selected div
{
    background-color:cornsilk;
}
</style>

<section id="versions" class="verticalaccordion">
    <ul>
       @Html.Raw(Model.VersionCards)
    </ul>
</section>
