/*RELEASE*/
/* Application general icons */
@font-face {
  font-family: 'countersoftfontRegular';
  src: url("./fonts/countersoft-iconfont.eot");
  src: url("./fonts/countersoft-iconfont.eot?#iefix") format("embedded-opentype"), url("./fonts/countersoft-iconfont.woff") format("woff"), url("./fonts/countersoft-iconfont.ttf") format("truetype"), url("./fonts/countersoft-iconfont.svg#countersoftfontRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'countersoftfontRegular';
  src: url("./fonts/countersoft-iconfont.eot");
  src: url("./fonts/countersoft-iconfont.eot?#iefix") format("embedded-opentype"), url("./fonts/countersoft-iconfont.woff") format("woff"), url("./fonts/countersoft-iconfont.ttf") format("truetype"), url("./fonts/countersoft-iconfont.svg#countersoftfontRegular") format("svg");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'countersoftfontRegular';
  src: url("./fonts/countersoft-iconfont.eot");
  src: url("./fonts/countersoft-iconfont.eot?#iefix") format("embedded-opentype"), url("./fonts/countersoft-iconfont.woff") format("woff"), url("./fonts/countersoft-iconfont.ttf") format("truetype"), url("./fonts/countersoft-iconfont.svg#countersoftfontRegular") format("svg");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'countersoftfontRegular';
  src: url("./fonts/countersoft-iconfont.eot");
  src: url("./fonts/countersoft-iconfont.eot?#iefix") format("embedded-opentype"), url("./fonts/countersoft-iconfont.woff") format("woff"), url("./fonts/countersoft-iconfont.ttf") format("truetype"), url("./fonts/countersoft-iconfont.svg#countersoftfontRegular") format("svg");
  font-weight: bold;
  font-style: italic; }
