/* make some assumption about it being a black and white printout */
body 
{
    margin:0; padding:0; 
    color: #000;
    background:none;
}

/* Improve colour contrast of links */
a:link, a:visited 
{
    background: transparent; 
    color: #781351;
    text-decoration:none;
}
a:link[href^="http://"]:after, a[href^="http://"]:visited:after 
{
    content: " (" attr(href) ") "; font-size: 0px;
}
a[href^="http://"] 
{
    color:#000;
} 

#invalid-instance,#item-collapse, #card-holder,.percent, .toolbar,.registered, #footer, .chzn-container-single .chzn-drop, #notification-zone, #timelog-content a img, #side-pane
{
    display:none;
}
#appnav-toolbar .code, #appnav-toolbar .title , #TestRunnerForm, #item-new, #zone-header-bar .user-options, #footer-messaging, #dependency-section a img, #comments-content a img, #zone-header-bar
{
    display:none;
}
.item-title
{
    position:absolute;
    top:5px;
    padding-top:20px;
    font-size:larger;
    font-weight:bold;
}
.project-info 
{
    position:absolute;
    top:30px;
    padding-top:20px;
    font-weight:bold;
}
#touch-info-container 
{
    position:absolute;
    top:80px;
    padding-top:20px;
}
.left-zone
{
    position:relative;
    top:200px;
    padding-bottom:50px;
    overflow:auto;
}
#view-item .attributes-pane ul 
{
    overflow:auto;
    white-space:nowrap;
}
.progress-info
{
    top:75px;
    position:absolute;
}
#view-item-collapse .description 
{
    overflow:auto;
    position:inherit;
    padding-top:150px;
}
#view-item .tabs
{
    position:relative;
    padding-top:10px;
}
#view-item .contents-pane .tab-content
{
    display: block !important;
}


table td,table th 
{
    border: 0px;
    padding-left: 5px;
    padding-right:5px;
}
table th 
{
    text-align:left;
    font-weight:bold;
}
#cs-template table.cs-properties td:first-child
{
    font-weight:bold;
}

/*Apps*/
#app-saucery .diffTable, #app-saucery .commit
{
    border: 2px solid black;
    white-space:nowrap;
}
#app-saucery .commit 
{
    max-width: 200px;
}
.codereview-header 
{
    font-weight:bold;
    font-size:large;
}
#rightPane
{
    float:right;
    width:50%;
    padding-bottom: 10px;
}
#app-saucery #leftPane 
{
    position:relative;
    float:left;
    width:50%;
    padding-bottom: 10px;
}
#step-new, #authentication_form, #view-item .action-link, .additional-case-data, #slider ol#steps, #slider textarea, .committed-files, #slider
{
    display:none;
}
.AppStore table.properties td:first-child
{
    font-weight:bold;
}
/* Image */
img, img a
{
    border:none;
}
   
/* deal with un-ordered list - need to reset all style parts */
ul 
{
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}
ul li 
{
    background:none;
}

/* Remove the various Element that we don't want to print */
/* don't show the playlist or search boxes on the PDF */
#header, #versions
{
    display:none;
}
#item-attributes
{
    margin-top:20px;
}
.comments-wysiwyg-container, .qq-uploader, .item-nav, #cs-popup-add-zone, #comments-section.fonticon-plus, #filter-navigator, .add-comment
{
    display:none;
}
/*/#view-item .contents-pane .source-control-article table td:last-child, #view-item .contents-pane .source-control-article table th:last-child
{
    display:none;
}
.watchers-article table td:last-child, .watchers-article table th:last-child
{
    display:none;
}
.timelogs table td:last-child, #view-item .timelogs table th:last-child
{
    display:none;
}*
/*Remove tour*/
#tour-joyride-home, #tour-joyride-planner, #tour-joyride-timeline, #tour-joyride-roadmap
{
    display:none;
}
#content-header-navigation-text h2, #content-header-navigation-text div
{        
    display: inline;
    white-space:nowrap;
    padding-right:5px;
}
.item-dates-box .label, .author
{
    font-weight:bold;
}
#item-attributes
{
    display:inline;
}
#view-item .comments .author-box
{
    border-bottom:2px solid black;
}
.item-dates-box
{
    padding-top:10px;
}
#attributes
{
    display: inline;
    white-space:nowrap;
}
.item-dates-box, #attributes ul
{
    padding-bottom:20px;
}
#cs-sections div.section-content td, #cs-sections div.section-content th
{
    border:1px solid black;
}
table
{
    border-collapse: collapse;
}
#footer
{
    font-size:12px;
    position: absolute;
    bottom:-30px;
    padding-left:250px;
}
#tabledata 
{
    margin-top:20px;
}
#tabledata thead td
{
    border:1px solid #000;
}
#cs-sections
{
    float:left;
}
/* if there is a style says don't print - then don't */
.noprint
{
    display: none;
}
/* don't show any of the dropdown menu UL's and LI's in print view or indicator lights*/
.dropdown
{
    display:none;
}
/* no buttons or input controls will be displayed in printout */
button, input 
{
    display:none;	
}
/* don't display the font-icons on teh menu bars, titles, action links, buttons, footer and panel headings */
[class*="fonticon-"] 
{
    display:none;	
}

/* attribute grid */
//#attributes-wrapper:after
//{
//    clear:both;
//}
ul.attributes:after
{
    clear:both;
}
.attribute 
{
    padding:0;
    margin:0;
    width:200px;
    min-width:200px;
    float:left;
}
.attribute-value
{
    text-overflow:ellipsis;
    overflow:hidden;
}
#attributes-wrapper .attribute-header
{
    font-weight: bold;
}
#attributes-wrapper .meta-icon 
{
    padding-right:5px; 
}
#contents-wrapper 
{
    clear:both;
    display:block;
    left:0px;
}    
#contents-wrapper .info
{
    clear:both;
    padding-top:20px;
    display:block;
    left:0px;
    font-weight:bold;
}    
