<div class="logo"></div>
<p class="left">&copy; 2003-@DateTime.Now.Year Countersoft Gemini <span class="version">v5.0.0.3120</span></p>
<div class="settings">
    <span class="fonticon-person"><a href='@Url.Action("admin", "settings", new RouteValueDictionary(new { projectcode = "GEM" }))'></a></span>
    <span class="fonticon-help"><a href='@Url.Action("admin", "settings", new RouteValueDictionary(new { projectcode = "GEM" }))'></a></span>
    <span class="fonticon-gear"><a href='@Url.Action("admin", "settings", new RouteValueDictionary(new { projectcode = "GEM" }))'></a></span>
</div>