<div id="homebox">
    <div id="home" class="dropdown">
        <ul class="outer">
            <li class="curve">
                <ul class="inner">
                    @if (GeminiContext.AvailableProjects.Count > 2)
                    {
                        <li><a href="#"><span></span><span>All Projects</span></a></li>
                    <li class="divider"><span class="splitter"></span></li>  
                    } 

                    @foreach (var project in GeminiContext.AvailableProjects)
                    {
                        <li><a href="#"><span></span><span>@project.Entity.Name</span></a></li> 
                    } 
                    
                    @if (DeviceContext.IsMobile)
                    {
                        <li><a href="#"><span></span><span>MOBILE</span></a></li> 
                    }

                    @if (DeviceContext.IsPhone)
                    {
                        <li><a href="#"><span></span><span>Phone</span></a></li> 
                    }

                    @if (DeviceContext.IsTablet)
                    {
                        <li><a href="#"><span></span><span>Tablet</span></a></li> 
                    }

                    @if (DeviceContext.Family == DeviceFamily.iPad)
                    {
                        <li><a href="#"><span></span><span>iPad</span></a></li> 
                    }
                                            
                    <li class="divider"><span class="splitter"></span></li>  
                    <li><a href="#"><span></span><span>Find...</span></a></li> 
                </ul> 
            </li>
        </ul>
    </div>
    <div id="start-here" class="hidden">
        <div id="outer-txn">
            <div id="inner-txn">
                <span class="color-reopen smaller">START</span>
                <span class="fonticon-arrow2-right bigger color-reopen"></span>
            </div>
        </div>
    </div>
</div>