<div id="playlistbox">
     <div id="playlist">
         <div id="0" class="card ghost dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                         <li><a href="#"><span class='fonticon-circle-fill color-item small'></span><span>Item</span></a></li> 
                         <li><a href="#"><span class='fonticon-circle-fill color-items small'></span><span>Items</span></a></li> 
                         <li><a href="#"><span class='fonticon-circle-fill color-project small'></span><span>Project</span></a></li> 
                     </ul> 
                 </li>
             </ul>
             <div class="grab default"></div>
             <span>new</span>
         </div>

         <div id="1" class="card dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                        <li class="default-action"><a href="#"><span></span><span>View</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li><a href="#"><span></span><span>Items</span></a></li> 
                        <li><a href="#"><span></span><span>Tests</span></a></li> 
                        <li><a href="#"><span></span><span>Activity</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li><a href="@Url.Action("roadmap", "Progress", new RouteValueDictionary(new { projectcode = "GEM", versionId=83 }))"><span></span><span>Roadmap</span></a></li> 
                        <li><a href="#"><span></span><span>Change log</span></a></li> 
                        <li><a href="#"><span></span><span>Planning Board</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li><a href="#"><span></span><span>Reports</span></a></li> 
                        <li><a href="#"><span></span><span>Documents</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Pin</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Remove</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Share</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Settings</span></a></li> 
                    </ul> 
                 </li>
             </ul>
             <div class="grab background-project"></div>
             IMS Development
         </div>

         <div id="2" class="card dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                        <li class="default-action"><a href="#"><span></span><span>View</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li><a href="#"><span></span><span>Tickets</span></a></li> 
                        <li><a href="#"><span></span><span>Activity</span></a></li> 
                        <li><a href="#"><span></span><span>Reports</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Unpin</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Remove</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Share</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Settings</span></a></li> 
                    </ul> 
                 </li>
             </ul>
             <div class="grab background-project"></div>
             Help Desk
         </div>

         <div id="3" class="card dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                        <li class="default-action"><a href='@Url.Content("~/project/gem/item/4967")'><span></span><span>View</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Unpin</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Remove</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Share</span></a></li> 
                    </ul> 
                 </li>
             </ul>
             <div class="grab background-item"></div>
             IE 6 Rendering Bug
         </div>

         <div id="4" class="card dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                         <li class="default-action"><a href='@Url.Content("~/project/gem/item/400")'><span></span><span>View</span></a></li> 
                        <li class="divider"><span class="splitter"></span></li> 
                        <li class="other-action"><a href="#"><span></span><span>Unpin</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Remove</span></a></li> 
                        <li class="other-action"><a href="#"><span></span><span>Share</span></a></li> 
                     </ul> 
                 </li>
             </ul>
             <div class="grab background-item"></div>
             Triggered Queries Enhancement
         </div>

         <div id="5" class="card dropdown">
             <ul class="outer">
                 <li class="curve">
                     <ul class="inner"> 
                        <li class="default-action"><a href='@Url.Content("~/project/gem/progress/burndown")'><span></span><span>View</span></a></li> 
                         <li class="divider"><span class="splitter"></span></li> 
                         <li class="other-action"><a href="#"><span></span><span>Unpin</span></a></li> 
                         <li class="other-action"><a href="#"><span></span><span>Remove</span></a></li> 
                         <li class="other-action"><a href="#"><span></span><span>Share</span></a></li> 
                     </ul> 
                 </li>
             </ul>
             <div class="grab background-roadmap"></div>
             IMS Sprint Burndown
         </div>
         
     </div>

</div>
