@model ItemsGridModel
@{
    Layout = "~/Views/Shared/_Master.Desktop.Project.cshtml";
}

<div class="filter-container">
	@{Html.RenderPartial("InstantFilter", Model.Filter);}
	<div class="clearfix"></div>
</div>

<table width="100%">
    <tr>
        <td valign="top">
            <div id='data' class="items-data-container">
            @if (Model.Issues.Count > 0 || Model.SequencedIssues.Count > 0)
            {

                { Html.RenderPartial("IssuesGrid", Model); }
            }
            else if (GeminiContext.User.Entity.HasExperienced(Countersoft.Gemini.Commons.Entity.User.UserExperience.AddItem))
            {
                Html.RenderPartial("~/Views/Shared/EmptyState/_Image.cshtml", "no-issues.png"); // Already created an item
            }
            else
            {
                Html.RenderPartial("~/Views/Shared/EmptyState/_Image.cshtml", "issue.png"); // Never created an item
            }
            </div> 
        </td>
    </tr>
</table>


<div id="view-item-slider">

</div>

@section DocumentReady
{
    gemini_items.init(@((int)ProjectTemplatePageType.Items), '@(GetResource(ResourceKeys.Update))', @Html.Raw(Model.Filter.AvailableFields.ToJson()));
}
