@model ItemsGridModel
@{
    Layout = "~/Views/Shared/_Master.Desktop.Project.cshtml";
}

<div class="filter-container">
	@{Html.RenderPartial("InstantFilter", Model.InstantFilter);}
	<div class="clearfix"></div>
</div>
<table width="100%">
    <tr>
        <td valign="top">
            <div id='data' class="items-data-container">
                @{Html.RenderPartial("IssuesGrid", Model);}
            </div> 
        </td>
    </tr>
</table>


<div id="view-item-slider">

</div>

@section DocumentReady
{
    gemini_items.init(@((int)ProjectTemplatePageType.Items), '@(GetResource(ResourceKeys.Update))', @Html.Raw(Model.InstantFilter.AvailableFields.ToJson()));
}
