@model IssuesGridModel
    
<table id="tabledata" class="item-grid" border="0" >
<thead>
    <tr>
    @foreach (var property in Model.Properties)
    {
        <th>@property.ToString()</th>
    }
    </tr>
</thead>
<tbody>
@foreach (var issue in Model.Issues)
{
    <tr>
    @foreach (var property in Model.Properties)
    {
        object item;

        // Get teh property
        var info = issue.GetType().GetProperty(property);
        item = info.GetValue(issue, null);
                
        <td>@Html.Raw(Countersoft.Gemini.Commons.Formatter.DataFormatter.FormatData(item, property))</td>
    }
    </tr>
}
</tbody>
</table>
